<div class="row">
  <div class="col s12">
    <button mat-icon-button (click)="close.emit()">
      <i class="fas fa-chevron-left fa-lg"></i>
    </button>
  </div>
</div>
<g-add-personal [user]="user"></g-add-personal>
<div class="row">
  <div class="col s12 center">
    <button mat-button color="primary"
    [routerLink]="['/admin/historial']"
    [queryParams]="{'query':'user', 'value': user?.uid}">
      Ver historial
      <i class="fas fa-external-link-alt"></i>
    </button>
    <button mat-raised-button color='warn' >Eliminar</button>
  </div>
</div>
