<form [formGroup]="prendas_.reporteForm">

  <!-- Normal -->
  <ng-template #normal>
    <p class="center">
      ¿Algún problema con esta prenda?
    </p>

    <div class="row">
      <div class="col s12 center">
        <button mat-raised-button color="warn"
        (click)="prendas_.stateCtrl.setValue('damage')"
        >
          Reportar un problema
        </button>

      </div>
    </div>
  </ng-template>


  <!-- Reporte form -->
  <div *ngIf="prendas_.stateCtrl.value != 'normal'; else normal">

    <!-- Reporte de estado -->
    <div class="row">
      <div class="col s12">

        <p class="center note">
          Indica cuál es problema con la prenda
        </p>

        <mat-form-field appearance="outline">
          <mat-label>Reporte</mat-label>
          <textarea
          matInput
          type="text"
          name="reporte"
          [formControl]="prendas_.reporteCtrl"
          ></textarea>
          <mat-error *ngIf="prendas_.reporteCtrl.hasError('required')">
            Es necesario que describas el estado de la prenda
          </mat-error>
        </mat-form-field>

      </div>
    </div>

    <!-- Evidencia -->
    <div class="row">
      <div class="col s12">
        <div class="center">
          <p class="center note">Toma una evidencia del daño de la prenda</p>
          <button mat-raised-button color="accent"
          (click)="onTakeEvidence()">
            <i class="fas fa-camera fa-lg white-text"></i>
          </button>
        </div>
      </div>
    </div>


    <!-- Volver -->
    <div class="row">
      <div class="col s12 center">
        <button mat-raised-button
        (click)="prendas_.stateCtrl.setValue('normal')"
        >La prenda está bien</button>
      </div>
    </div>
  </div>




</form>
