$icomoon-font-family: "guestify-icons" !default;
$icomoon-font-path: "fonts" !default;

$gfy-lavadora: "\e90f";
$gfy-secadora: "\e910";
$gfy-almohada: "\e90d";
$gfy-toalla-mano: "\e90e";
$gfy-cajonera-ind: "\e900";
$gfy-edredron-ind: "\e901";
$gfy-plana-ind: "\e902";
$gfy-cajonera-king: "\e903";
$gfy-edredon-king: "\e904";
$gfy-plana-king: "\e905";
$gfy-cajonera-mat: "\e906";
$gfy-edredon-mat: "\e907";
$gfy-plana-mat: "\e908";
$gfy-cajonera-queen: "\e909";
$gfy-edredon-queen: "\e90a";
$gfy-plana-queen: "\e90b";
$gfy-toalla: "\e90c";

