<div id="create-page">
  <div class="container">
    <div class="row">
      <div class="col s12 full-screen">
        <div class="logo-content">
          <img src="/assets/img/oficial-v.png" alt="logo guestify">
        </div>
        <gdev-login-card
        forgotPasswordLabel=""
        signInTitle="Bienvenido. Cambia tu contraseña"
        passwordLabel="Contraseña"
        signInButton="ENTRAR"
        (onSubmit)="onSubmit($event)"
        ></gdev-login-card>
      </div>
    </div>
  </div>
</div>
