<mat-drawer-container [hasBackdrop]="true">

  <!-- PANEL -->
  <mat-drawer
  mode="side"
  #panel="matDrawer"
  >
    <ng-container *ngIf="propiedadFinded; else nuevaPropiedad">
      <g-show-propiedad
      [propiedad]="propiedadFinded"
      [prenda]="prendaFinded"
      (close)="onClosePanel()"
      ></g-show-propiedad>
    </ng-container>
    <ng-template #nuevaPropiedad>
      <g-show-propiedad
      *ngIf="codeScanned"
      [code]="codeScanned"
      (close)="onClosePanel()"
      ></g-show-propiedad>
    </ng-template>
  </mat-drawer>


  <!--  -->
  <mat-drawer-content>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h2 class="center">Propiedades</h2>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Buscar</mat-card-title>
              <mat-card-subtitle>Puedes buscar escanear para encontrar un código QR en la base de datos</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <g-propiedad-search
              (selected)="onPropiedadSelected($event)"
              ></g-propiedad-search>
              <g-scanner [title]="false"></g-scanner>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="img-background row">
        <img src="/assets/img/limpieza1.png" alt="casita">
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
