<div id="work-area" class="container">
  <div class="row">
    <div class="col s12 center">
      <h2 class="center white-text" *ngIf="propiedad">
        {{propiedad?.direccion}} - PAQUETE:{{propiedad?.pid?.substr(-1)}}
      </h2>
      <p class="center white-text">
        Informa con un tap cuando este paquete empezó a trabajar
      </p>

    </div>
  </div>

  <div class="row botonera">
    <div class="col s12 center">
      <ng-container>
          <button mat-raised-button
          (click)="startCount('lavar')"
          >
            <i class="gfy-lavadora gfy-lg"></i><br>
            <b>LAVAR</b>
          </button>
          <button mat-raised-button
          (click)="startCount('secar')"
          >
            <i class="gfy-secadora gfy-lg"></i><br>
            <b>SECAR</b>
          </button>
      </ng-container>
      <ng-template #stopped >

      </ng-template>
    </div>
  </div>

  <div class="row chrono">
    <div class="col s12" *ngFor="let event of currentEvents; index as i">
      <mat-card>
        <mat-card-content class="row aling-cols">
          <div class="col s6 action">
            <span class="icon" [ngSwitch]="event.action">
              <span *ngSwitchCase="'lavar'">
                <i class="gfy-lavadora coral-text"></i>
              </span>
              <span *ngSwitchCase="'secar'">
                <i class="gfy-secadora"></i>
              </span>
            </span>
            <span class="label" [ngSwitch]="event.action">
              <span *ngSwitchCase="'lavar'">Lavadora {{event.over}}</span>
              <span *ngSwitchCase="'secar'">Secadora {{event.over}}</span>
            </span>
          </div>
          <div class="col s4 center counting">
              <b>{{event.start | countingTime | async}}</b>
          </div>
          <div class="col s2 controls" >
            <button mat-icon-button (click)="stopCount(event, i)">
              <i class="fas fa-stop red-text"></i>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>


  <g-lavanderia-event-list [events]="events"></g-lavanderia-event-list>

</div>
