.chrono p.center {
  font-size: xxx-large;
  font-weight: 600;
  color: wheat;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 40%);
}

.controls .col {
  display: flex;
  justify-content: space-around;
}

.record {
  padding: 8px 16px !important;
}
.duration {
  justify-content: flex-end;
  .durationLabel {
    font-size:xx-small;
    margin-right: 1em;
  }
}
