
<mat-dialog-content>
  <div class="row">
    <div class="col s12">
      <p>
        <b class="cyan-text"> {{data.producto}} </b>
        Paquete: {{data.juego}}, pieza: {{data.part}}/{{data.total}}
      </p>

    </div>
  </div>
  <g-limpieza-reporte-form (validForm)="validateReady($event)"></g-limpieza-reporte-form>
</mat-dialog-content>

<mat-dialog-actions
style="display: flex; justify-content: space-around;">
    <button
    mat-raised-button
    [disabled]="!isReady"
    (click)="dialog_.close(true)"
    color="primary"
    >
      Todo bien, continuar
    </button>

    <button
    mat-raised-button
    color="accent"
    [disabled]="!isReady"
    (click)="dialog_.close(false)"
    >
      Terminar
    </button>
</mat-dialog-actions>
