#scanner-box {
  overflow: hidden;
      border-radius: 50%;
    width: 72vw;
    height: 72vw;
}



::ng-deep .mat-card-header-text{
  width: 100%;
}

mat-drawer-container {
  height:84vh;
}

mat-drawer {
  height:100%;
  width: 100%;
  @media (min-width: 768px){
    width: 66%;
  }
}

