.container {
  position: relative;
  padding-left: 1em !important;
  padding-right: 1em !important;
  width: 100% !important;
  background: url('/assets/img/gradient-blue-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover
}


#card-container {
  height: 40vh;
  padding:0 10%;
  width: 100%;
  margin: 0;
}

::ng-deep {
  mat-expansion-panel-header{
    min-height: 60px;
    padding: 0 20px 0 12px !important;
    .scanned-notification {
      position: absolute;
    }
    .prenda-header.row{
      margin: 0;
      width: 95%;
    }
    .mat-content {
      align-items: center;
    }
    p {
      margin-bottom: 0 !important;
      align-items: center;
      display: flex;
      span {
        margin-right: 5px;
      }
    }
  }
  .mat-card-header-text{
    width: 100%;
  }
  .scanner-box {
    height: 62vw !important
  }
}

.evidencia-img {
  cursor: pointer;
  img {
    width: 100%;
  }
}

.prenda-icon {
  font-size: 2em;
}
