<div class="container" id="work-area">
  <div class="row" id="card-container">

    <!-- ACTIONS COL -->
    <div class="col s12 l8">
      <div class="row">

        <!-- INFO COL -->
        <div class="col s12 m6 info-col" >
          <span class="white-text">Paquete:</span>
          <h2 class="white-text" >
            {{prop?.direccion}} - {{prop?.pid}}
          </h2>
          <button mat-raised-button color='accent' class="white-text"
          (click)="onFinish()">
            Terminar
          </button>
        </div>

        <!-- SCANNER COL -->
        <div class="col s12 m6 center">
          <p class="white-text">Escanea cada una de las prendas para verficarlas</p>
          <g-scanner [title]="false"></g-scanner>
        </div>
      </div>
    </div>

    <!-- NOTIFY COL -->
    <div class="col s12">
      <div class="row">
        <div class="col s12 m6 l4" *ngFor="let prenda of prop?.prendas">
          <mat-card>

            <!-- Item Info -->
            <mat-card-content>
              <div class="row">
                <!-- Scanned notification -->
                <div class="col s3">
                  <span *ngIf="scanned(prenda) !== undefined"
                  matBadge="{{prenda | checkScanned:paqueteState.prendasReport:'check'}}"
                  [matBadgeColor]="prenda | checkScanned:paqueteState.prendasReport:'color'"
                  ></span>
                  <p *ngIf="prenda.producto">
                    <i class="{{prenda.producto | productIcon}} gfy-lg"></i>
                  </p>
                </div>

                <!-- Item Info -->
                <div class="col s7">
                  <p style="margin-bottom: 0; font-size: small;"style="margin-bottom: 0;">{{prenda.producto}}</p>
                </div>
                <div class="col s2">
                  <p style="margin-bottom: 0; font-size: small;">
                    {{prenda.unidad}}/{{prenda.total}}
                  </p>
                </div>

              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>



  <div class="row">

  </div>
</div>
