<div class="container page-container">
  <div class="row">
    <div class="col s12 center">
      <h2 class="center white-text">¡Listo!</h2>
      <p class="center white-text">Escanea cada una de las prendas para verficarlas</p>
    </div>
  </div>
  <div class="row" id="card-container" *ngIf="!review">
    <div class="col s12">
      <g-scanner [title]="false"></g-scanner>
    </div>
  </div>


  <div class="row">
    <mat-accordion>
      <div class="col s12" *ngFor="let prenda of prop?.prendas">
        <mat-expansion-panel>

          <mat-expansion-panel-header>
            <!-- Scanned notification -->
            <span class="scanned-notification"
            *ngIf="scanned(prenda) !== undefined"
            matBadge="{{badge(prenda)}}"
            [matBadgeColor]="colorBadge(prenda)"
            ></span>

            <!-- Prenda Info -->
            <div class="row align-cols prenda-header">
              <div class="col s9">
                <p [ngSwitch]="prenda.producto">
                  <span *ngSwitchCase="'Toalla de Cuerpo'" >
                    <i class="gfy-toalla gfy-lg"></i>
                  </span>
                  <span *ngSwitchCase="'Toalla de Mano'" >
                    <i class="gfy-toalla-mano gfy-lg"></i>
                  </span>
                  <span *ngSwitchCase="'Funda Almohada'" >
                    <i class="gfy-almohada gfy-lg"></i>
                  </span>
                  <span *ngSwitchCase="'Plana Individual'" >
                    <i class="gfy-plana-ind gfy-lg"></i>
                  </span>
                  <span *ngSwitchCase="'Cajonera Individual'" >
                    <i class="gfy-cajonera-ind gfy-lg"></i>
                  </span>
                  <span *ngSwitchCase="'Edredon Individual'" >
                    <i class="gfy-edredon-ind gfy-lg"></i>
                  </span>
                  <span *ngSwitchCase="'Plana Matrimonial'" >
                    <i class="gfy-plana-mat gfy-lg"></i>
                  </span>
                  <span *ngSwitchCase="'Cajonera Matrimonial'" >
                    <i class="gfy-cajonera-mat gfy-lg"></i>
                  </span>
                  <span *ngSwitchCase="'Edredon Matrimonial'" >
                    <i class="gfy-cajonera-mat gfy-lg"></i>
                  </span>
                  <span *ngSwitchCase="'Plana Queen Size'" >
                    <i class="gfy-plana-queen gfy-lg"></i>
                  </span>
                  <span *ngSwitchCase="'Cajonera Queen Size'" >
                    <i class="gfy-cajonera-queen gfy-lg"></i>
                  </span>
                  <span *ngSwitchCase="'Edredon Queen Size'" >
                    <i class="gfy-edredon-queen gfy-lg"></i>
                  </span>
                  <span *ngSwitchCase="'Plana King Size'" >
                    <i class="gfy-plana-king gfy-lg"></i>
                  </span>
                  <span *ngSwitchCase="'Cajonera King Size'" >
                    <i class="gfy-cajonera-king gfy-lg"></i>
                  </span>
                  <span *ngSwitchCase="'Edredon King Size'" >
                    <i class="gfy-edredon-king gfy-lg"></i>
                  </span>
                  <span *ngSwitchDefault>  </span>
                  {{prenda.producto}} {{prenda.index}}
                </p>
              </div>
              <div class="col s3">
                <mat-chip-list>
                  <mat-chip [color]=" prenda.state != 'sucio' ? 'warn' : 'accent'"
                  selected>
                  <span [ngSwitch]="prenda.state">
                    <span *ngSwitchCase="'sucio'">Sucia</span>
                    <span *ngSwitchCase="'damage'">Dañada</span>
                    <span *ngSwitchCase="'lost'">Perdida</span>
                    <span *ngSwitchCase="'wash'">Lavando</span>
                    <span *ngSwitchCase="'stock'">Bodega</span>
                  </span>
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </mat-expansion-panel-header>

          <!-- Report -->
          <ng-container class="col s12" *ngIf="prenda.state == 'damage'">
            <ng-container *ngIf="prenda.event as event">
              <p> <b>Reporte:</b>{{event.reporte}} </p>
              <div class="row">
                <div class="col s4 evidencia-img"
                (click)="openImage(evidencia)"
                  *ngFor="let evidencia of event.evidences">
                    <img [src]="evidencia">
                </div>
              </div>

            </ng-container>
          </ng-container>
        </mat-expansion-panel>

      </div>
    </mat-accordion>

  </div>

  <div class="row">
    <div class="col s12 center">
      <button mat-raised-button color='accent' class="white-text"
      (click)="onFinish()">
        Terminar
      </button>
    </div>
  </div>
</div>
