<h2 mat-dialog-title class="center">La propiedad no existe.</h2>
<mat-dialog-content>
  <p class="class center">
    <b>{{code.propiedad}}</b> no está en la base de datos <br>
    ¿Deseas agregarla?
  </p>
</mat-dialog-content>
<mat-dialog-actions
style="display: flex; justify-content: space-around;">
    <button mat-raised-button
    (click)="dialog_.close()"
    >Cancelar</button>
    <button mat-raised-button
    color="primary"
    (click)="dialog_.close(true)"
    >Agregar</button>
</mat-dialog-actions>
