.container {
  position: relative;
  width: 100% !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  background: url('/assets/img/gradient-blue-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    max-width: unset !important;
  }
}


#card-container {
  height: 40vh;
  padding:0 10%;
  width: 100%;
  margin: 0;
}

#notify-container {
  mat-expansion-panel {
    margin: 5px 0;
    mat-expansion-panel-header ::ng-deep {
      height: 60px;
      padding:0 12px;
      .mat-content {
        justify-content: space-between;
        .prenda-header {
          width: 100%;
        }
      }
      .row {
        margin-bottom: 0;
      }
    }
  }
}

::ng-deep {
  .mat-card-header-text{
    width: 100%;
  }
  .scanner-box {
    height: 62vw !important
  }
  .mat-badge {
    z-index: 1;
    position: absolute;
  }
}

.prenda-icon {
  font-size: 2em;
}

.info-col {
  text-align: center;
  @media screen and (min-width: 768px) {
    padding-right: 5em !important;
    text-align: left;
  }
}

.align-cols {
  justify-content:space-between;
}
