<ng-container *ngIf="scannerEnabled; else pause">
  <div id="scanner-container">
    <zxing-scanner
      #scanner
      (scanSuccess)="scanSuccessHandler($event)"
    >
    </zxing-scanner>
    <div class="box-corner a"></div>
    <div class="box-corner b"></div>
    <div class="box-corner c"></div>
    <div class="box-corner d"></div>
  </div>

</ng-container>
<ng-template #pause>
  <div id="scanner-paused">
    <button mat-raised-button
    color="primary"
    (click)="startScan()">
      <i class="fas fa-camera fa-lg  "></i>
    </button>
  </div>
</ng-template>


