<mat-card *ngIf="prenda">
  <mat-card-header>
    <mat-card-title>Prenda encontrada!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table>
      <tbody>
        <tr>
          <th>Prenda</th>
          <td>{{prenda.unidad}}/{{prenda.total}}</td>
        </tr>
        <tr>
          <th>Producto</th>
          <td> {{prenda.producto}} </td>
        </tr>
        <tr>
          <th>Codigo</th>
          <td> {{prenda.codigo}} </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
<br>
<mat-card class="mat-elevation-z0">
  <mat-card-content>
    <div class="row">
      <div class="col s12">
        <p class="cyan-text"><b>Propiedad</b></p>
        <table>
          <tbody>
            <tr>
              <th>Ciudad</th>
              <td> {{propiedad.ciudad}} </td>
            </tr>
            <tr>
              <th>Prefijo</th>
              <td> {{propiedad.prefix}} </td>
            </tr>
            <tr>
              <th>Dirección</th>
              <td> {{propiedad.direccion}} </td>
            </tr>
          </tbody>
        </table>

        <p class="cyan-text"><b>Paquetes</b>
          <button mat-icon-button
          (click)="onAddPaquete()">
              <i class="fas fa-plus "></i>
          </button>
        </p>
        <div class="row">
          <div class="col s12" *ngFor="let jue of propiedad.paquetes; index as ji">
            <table >
              <tbody>
                <tr>
                  <th>Paquete</th>
                  <td>{{jue.pid}}</td>
                </tr>
              </tbody>
            </table>

            <p class="cyan-text"><b>Prendas</b>
              <button mat-icon-button
              (click)="onAddPrenda(jue.pid)">
                <i class="fas fa-plus "></i>
              </button>
            </p>
            <div class="row">
              <div class="col s12 prenda-row" *ngFor="let prend of jue.prendas; index as i">
                <button mat-icon-button
                color="warn"
                (click)="deletePrenda(ji, i)">
                    <i class="fas fa-times-circle"></i>
                </button>
                <table>
                  <tbody>
                    <tr>
                      <th>Prenda</th>
                      <td>{{prend.unidad}}/{{prend.total}}</td>
                    </tr>
                    <tr>
                      <th>Producto</th>
                      <td> {{prend.producto}} </td>
                    </tr>
                    <tr>
                      <th>Codigo</th>
                      <td> {{prend.codigo}} </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <mat-divider></mat-divider>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>


      </div>
    </div>
  </mat-card-content>
  <mat-card-actions
  style="display: flex; justify-content: space-around;">
    <button mat-raised-button
    (click)="close.emit()"
    >Cerrar</button>
    <button mat-raised-button
    (click)="onSavePropiedad()"
    color="primary"
    cdkFocusInitial
    >Guardar</button>
  </mat-card-actions>
</mat-card>
