<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 class="center">Resumen</h2>
      <p class="center">
        Aquí podrás revisar los paquetes de prendas que están a tu cargo y modificarlos
      </p>
    </div>
  </div>
  <div class="row" *ngIf="(acargoList$ | async) as list">

    <ng-container *ngIf="list.length > 0; else empty">
      <div class="col s12" *ngFor="let item of list">
        <mat-card
        [routerLink]="['../paquete', item.pid]"
        [queryParams]="{
          paquete:item.paquete,
          state:item.state
        }" >
        <div class="row align-cols">
          <div class="col s1">
            <i class="fas fa-home fa-lg"></i>
          </div>
          <div class="col s11 left">
            <mat-card-header>
              <mat-card-title> {{item.pid}} </mat-card-title>
              <mat-card-subtitle>
                Paquete:{{item.paquete}}
                <g-timer style="font-size: x-small;"
                [timestamp]="item.lastUpdate"></g-timer>
              </mat-card-subtitle>
            </mat-card-header>
          </div>
        </div>
        </mat-card>
      </div>
    </ng-container>
    <ng-template #empty>
      <div class="col s12" *ngFor="let item of [1, 2, 3, 4, 5]">
        <mat-card class="empty-card"></mat-card>
      </div>
    </ng-template>
  </div>
</div>
