<p mat-dialog-title>Hacen falta prendas</p>
<mat-dialog-content>
  <p>Estas prendas aún no se han escaneado</p>
  <ul>
    <li *ngFor="let item of faltantes" class="data-text">
      {{item.producto}} {{item.unidad}}/{{item.total}}
    </li>
  </ul>
  <p class="s-note">
    Si los códigos faltantes los puedes remplazar con otras prendas o ya están en proceso de remplazo, puedes cerrar el paquete
  </p>
</mat-dialog-content>
<mat-dialog-actions
style="display: flex; justify-content: space-around;">
<p class="center"><b>¿Quieres cerrar el paquete así?</b></p>
  <button mat-raised-button
  (click)="dialog.close(true)"
  color="primary"
  >Sí</button>
    <button mat-raised-button
    (click)="dialog.close()"
    color="accent"
    >Volver a escanear</button>
</mat-dialog-actions>
