<g-topbar [menuRoutes]="routes"></g-topbar>

<div class="page-container">
  <div class="row">
    <div class="col s12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<mat-toolbar color="accent" class="mat-elevation-z4" id="bottom-bar">
  <span class="navbtn">
    <i class="fas fa-tachometer-alt fa-lg  white-text" [routerLink]="['dashboard']" [routerLinkActive]="'active'"></i>
  </span>
  <span class="navbtn">
    <i class="fas fa-server fa-lg  white-text" [routerLink]="['manage-database']" [routerLinkActive]="'active'"></i>
  </span>
  <span class="navbtn">
    <i class="fas fa-users fa-lg  white-text" [routerLink]="['/admin/manage-admins']"  [routerLinkActive]="'active'"></i>
  </span>
</mat-toolbar>
