#scanner-box {
  overflow: hidden;
      border-radius: 50%;
    width: 72vw;
    height: 72vw;
}

.container {
  height: 100% !important;
  margin-top: 0;
  padding: 4em 0em;
  z-index: 0;
}

#card-container {
  height: 35vh;
  padding:10%;
  width: 100%;
  margin: 0;
}

::ng-deep .mat-card-header-text{
  width: 100%;
}
