#scanner-box {
  overflow: hidden;
      border-radius: 50%;
    width: 72vw;
    height: 72vw;
}

.container {
  height: 88% !important;
}

#card-container {
  height: 50vh;
  padding:5%;
  width: 100%;
  margin: 0;
}

::ng-deep .mat-card-header-text{
  width: 100%;
}
