<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 class="center"><b>Tablero</b></h2>
    </div>
  </div>
  <div class="row">
    <div class="col s6">

      <mat-card>
        <mat-card-header>
          <mat-card-title>{{todayEvents}}</mat-card-title>
          <mat-card-subtitle>Eventos del día de hoy</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions style="display:flex; justify-content:flex-end">
          <button mat-button color="primary"
          [routerLink]="['/historial']" [queryParams]="{'query':'day'}">
            Ver historial
          </button>
        </mat-card-actions>
      </mat-card>

    </div>

    <div class="col s6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{washingUps}}</mat-card-title>
          <mat-card-subtitle>Paquetes lavando</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions style="display:flex; justify-content:flex-end">
          <button mat-button color="primary"
          [routerLink]="['/historial']"
          [queryParams]="{'query':'state', 'value': 'washingUps'}">
            Ver paquetes lavando
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col s6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{collected}}</mat-card-title>
          <mat-card-subtitle>Paquetes sin lavar</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions style="display:flex; justify-content:flex-end">
          <button mat-button color="primary"
          [routerLink]="['/historial']"
          [queryParams]="{'query':'state', 'value': 'collected'}">
            Ver paquetes en espera
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col s6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{damaged}}</mat-card-title>
          <mat-card-subtitle>Prendas dañadas</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions style="display:flex; justify-content:flex-end">
          <button mat-button color="primary">
            Ver prendas
          </button>
        </mat-card-actions>
      </mat-card>
    </div>


  </div>
  <div class="row">
    <div class="col s12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{alerts}}</mat-card-title>
          <mat-card-subtitle>Alertas sin revisar</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions style="display:flex; justify-content:flex-end">
          <button mat-button color="primary">
            Revisar las alertas
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
