<div class="container page-container">
  <div class="row">
    <div class="col s12">
      <h2 class="center">Empacar</h2>
      <p class="center">
        Para terminar con el ciclo de prendas. Escanea las prendas si ya están limpias y listas para trabajar
      </p>
    </div>
  </div>
  <div class="row" *ngIf="(acargoList$ | async) as list; else noList">
    <ng-container *ngIf="list.length > 0; else empty">
      <div class="col s6" *ngFor="let item of list">
        <mat-card
        [routerLink]="['../empacar', item.prefix]"
        [queryParams]="{
          paquete:item.paquete,
          state:item.state
        }" >
          <div class="row align-cols">
            <div class="col s1">
              <i class="fas fa-home fa-lg"></i>
            </div>
            <div class="col s11 left">
              <mat-card-header>
                <mat-card-title> {{item.prefix}} </mat-card-title>
                <mat-card-subtitle>
                  Paquete:{{item.paquete}}
                  <g-timer style="font-size: x-small;"
                  [timestamp]="item.lastUpdate"></g-timer>
                </mat-card-subtitle>
              </mat-card-header>
            </div>
          </div>
        </mat-card>
      </div>
    </ng-container>
    <ng-template #empty>
      <h3 class="center" style="color:#ea5355">
        Parece que aún no has metido nada a lavar
      </h3>
      <div class="img-background row">
        <img src="/assets/img/sleeping.png" alt="lavanderia">
      </div>
    </ng-template>
  </div>


  <ng-template #noList>
    <div class="col s12" *ngFor="let item of [1, 2, 3, 4, 5]">
      <mat-card class="empty-card"></mat-card>
    </div>
  </ng-template>
</div>
