<div class="container">
  <div class="row">
    <div class="col s12 l8">
      <div class="row">
        <div class="col s12">
          <h2 class="center">Bienvenido</h2>
          <p class="center">Para iniciar, escanea un primer código</p>
        </div>
        <div class="col s12" id="card-container">
          <g-scanner></g-scanner>
        </div>
      </div>
    </div>
    <div class="col s12 l4">
      <div class="img-background row">
        <img src="/assets/img/limpieza1.png" alt="casita" />
      </div>
    </div>
  </div>
</div>
