:host zxing-scanner::ng-deep video {
  height: 72vw;
  object-fit: contain;
}

zxing-scanner {
  position: absolute;
}
// :host zxing-scanner::ng-deep {
//   // border-style: solid;
//   // border-color: #5d78ff;
//   // box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
// }

.scanner-box {
  position: relative;
  height: 72vw;
  height: 72vw;
}
#scanner-container {
  position: absolute;
  width: 62vw;
  height: 62vw;
  overflow: hidden;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#scanner-paused {
  position: relative;
  width: 62vw;
  height: 62vw;
  margin: 0 auto;
  img {
    width: 100%;
  }
}



.box-corner {
  width: 50px;
  height: 50px;
  position: absolute;
  // border-style: solid;
  border-color: #00a5ba !important;
  border-width: 2px;
}

.box-corner.a{
  border-top: solid;
  border-left: solid;
  left:0%;
  top: 0%;
}
.box-corner.b{
  border-top: solid;
  border-right: solid;
  top: 0%;
  right: 0%;
}
.box-corner.c{
  border-right: solid;
  border-bottom: solid;
  bottom: 0%;
  right: 0%;
}
.box-corner.d{
  border-left: solid;
  border-bottom: solid;
  bottom: 0%;
  left: 0%;
}
