<mat-toolbar color="primary" class="mat-elevation-z4">

  <span class="logo-content"
  [routerLink]="['/'+user?.rol]">
    <ng-container *ngIf="dashboard_.toggleBack; else elseTemplate">
      <i  class="fas fa-chevron-left fa-lg back" (click)="location_.back()"></i>
    </ng-container>
    <ng-template #elseTemplate >
      <img src="/assets/img/iso-bco.png" alt="logo topbar">
    </ng-template>
    Ops Blancos
    <span>
      <g-version-notifier></g-version-notifier>
    </span>
  </span>
  <span class="spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="navmenu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #navmenu="matMenu">
    <a mat-menu-item *ngFor="let item of menuRoutes" [routerLink]="[item.route]">{{item.displayName}}</a>
    <button mat-menu-item (click)="auth_.signOut()" >Cerrar sesión</button>
  </mat-menu>
</mat-toolbar>
