/* For use in src/lib/core/theming/_palette.scss */
$md-basic: (
    50 : #e8e8e8,
    100 : #c5c5c5,
    200 : #9f9f9f,
    300 : #797978,
    400 : #5c5c5b,
    500 : #3f3f3e,
    600 : #393938,
    700 : #313130,
    800 : #292928,
    900 : #1b1b1b,
    A100 : #f07575,
    A200 : #eb4747,
    A400 : #ff0000,
    A700 : #e60000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-primary: (
    50 : #e0f4f7,
    100 : #b3e4ea,
    200 : #80d2dd,
    300 : #4dc0cf,
    400 : #26b3c4,
    500 : #00a5ba,
    600 : #009db3,
    700 : #0093ab,
    800 : #008aa3,
    900 : #007994,
    A100 : #bff1ff,
    A200 : #8ce6ff,
    A400 : #59dbff,
    A700 : #40d6ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent: (
    50 : #fceaeb,
    100 : #f9cbcc,
    200 : #f5a9aa,
    300 : #f08788,
    400 : #ed6d6f,
    500 : #ea5355,
    600 : #e74c4e,
    700 : #e44244,
    800 : #e1393b,
    900 : #db292a,
    A100 : #ffffff,
    A200 : #ffe6e6,
    A400 : #ffb3b4,
    A700 : #ff9a9a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-variant: (
    50 : #fdf1ea,
    100 : #fbdcc9,
    200 : #f8c4a6,
    300 : #f5ac82,
    400 : #f39b67,
    500 : #f1894c,
    600 : #ef8145,
    700 : #ed763c,
    800 : #eb6c33,
    900 : #e75924,
    A100 : #ffffff,
    A200 : #fff2ed,
    A400 : #ffcbba,
    A700 : #ffb8a1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

