@import '~@angular/material/theming';
@import '~@jgu7man/gdev-tools/styles/responsive';
@import '~@jgu7man/gdev-tools/styles/colors';
@import '~@jgu7man/gdev-tools/styles/text';
@import '~@jgu7man/gdev-tools/styles/collection';
@import './assets/styles/guestify-palette.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import './assets/fonts/flaticon/flaticon.scss';
@include mat-core();

$ops-blancos-primary: mat-palette($guestify-primary);
$ops-blancos-accent: mat-palette($guestify-accent, 500, A100, A400);

$ops-blancos-warn: mat-palette($mat-red);

$ops-blancos-theme: mat-light-theme((
  color: (
    primary: $ops-blancos-primary,
    accent: $ops-blancos-accent,
    warn: $ops-blancos-warn,
  )
));

$guestify-typography: mat-typography-config(
  $font-family: 'Lato',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include angular-material-typography($guestify-typography);
@include angular-material-theme($ops-blancos-theme);

html, body {
  height: 100%;
  background: hsl(0, 0%, 95%) !important;
  margin: 0;
  padding: 0;
}
body { margin: 0;
  font-family: 'Lato', sans-serif;
}

* {outline: none !important}

mat-form-field {
  width: 100%;
}

.note {
  font-size: small !important;
}
.s-note {
  font-size: smaller !important;
}

mat-card {
  margin-bottom: 0.75rem;
}
