<g-topbar [menuRoutes]="routes" ></g-topbar>
<div class="page-container">
  <div class="row">
    <div class="col s12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<mat-toolbar
  color="accent"
  class="mat-elevation-z4"
  id="bottom-bar"
>
  <span class="navbtn  white-text"  [routerLink]="['home']" [routerLinkActive]="'active'" [ngClass]="{'active': paqueteActive.isActive}">
    <i class="fas fa-home fa-lg"></i>
    <span class="link-label">Propiedad</span>
  </span>
  <a routerLink="paquete" routerLinkActive #paqueteActive="routerLinkActive" hidden="true"></a>
  <span class="navbtn white-text" [routerLink]="['reporte']" [routerLinkActive]="'active'">
    <i class="fas fa-clipboard-list fa-lg"></i>
    <span class="link-label">Reportes</span>
  </span>
  <span class="navbtn white-text" [routerLink]="['acargo']" [routerLinkActive]="'active'">
    <i class="fas fa-truck fa-lg" ></i>
    <span class="link-label">Cargo</span>
  </span>
</mat-toolbar>

