.container {
  position: relative;
  width: 100% !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  background: url('/assets/img/gradient-blue-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover
}


#card-container {
  height: 40vh;
  padding:0 10%;
  width: 100%;
  margin: 0;
}

::ng-deep {
  .mat-card-header-text{
    width: 100%;
  }
  .scanner-box {
    height: 62vw !important
  }
}

.prenda-icon {
  font-size: 2em;
}
