
<mat-card>
  <mat-card-header>
    <mat-card-title>Importar</mat-card-title>
    <mat-card-subtitle>Sube un archivo CSV para subir registros</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

<div class="row">
  <div class="col s12">

  </div>
  <div  class="col s12">
    <mx-files-picker
    [maxFileSize]="2097152"
    [path]="'imports'"
    toggleButtonLabel="Importar CSV"
    [multiple]="false"
    dropzoneLabel="Toca o arrastra un archivo hasta aquí"
    [uploadButton]="false"
    >
    </mx-files-picker>

  </div>
</div>

  </mat-card-content>
  <mat-card-actions style="display: flex; justify-content:space-around"
  *ngIf="storage.showDropzone">
    <button mat-raised-button color='primary'

    [disabled]="storage.files.length < 1"
    (click)="onImport()" >Importar</button>

    <button mat-raised-button
    (click)="storage.showDropzone = false">Cancelar</button>
  </mat-card-actions>
</mat-card>
